<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bullring!</title>
</head>
<body>
    <header>
        <h1>Bullring</h1>
        <nav>
            <ul>
                <li>
                    <a href="/warrior/add-form">Registration a warrior</a>
                </li>
                <li>
                    <a href="/bullring/fight-form">Bullring</a>  
                </li>
                <li>
                    <a href="/hall-of-fame">Hall of fame</a>
                </li>
            </ul>
        </nav>
    </header>

    <hr>
    {{{body}}}
</body>
</html>